.details {
  width: 80vw;
  margin: 10px auto;
  padding: 10px;
}

.detailsBox {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.detailsBox div {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.detailsBoxInf {
  font-family: 'Montserrat-Regular';
  font-size: 28px;
  font-weight: 500;
  line-height: 36px;
}

.detailsAdditional {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
}

.detailsAdditional h2 {
  font-family: italic;
  font-size: 36px;
}

.detailsAdditional div {
  display: flex;
  gap: 15px;
}
