.movieslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.moviesitem {
  width: calc(20% - 15px);
  margin-bottom: 20px;
}

.movieposter {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
}
