*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: italic, 'Montserrat-Regular', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

input,
button {
  border-radius: 6px;
  border: 1px solid #888888;
  padding: 0.2em 0.4em;
  font-size: 1.1em;
  font-weight: 400;
  font-family: inherit;
  display: block;
}

button {
  cursor: pointer;
}

h3,
p {
  font-family: italic;
  font-size: 20px;
}

.navigationLink {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #121212;
  border-radius: 4px;
  color: #121212;
  padding: 4px 8px;
  max-width: 100%;
  transition: background-color 0.2s ease, color 0.1s ease-in-out;
}

.navigationLink:hover {
  background-color: #000000;
  color: #ffffff;
}
